.team-section-wrapper {
  background: #f5f7fa;
  padding: 3%;
}

.team-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ceo-text {
  width: 100%;
  text-align: left;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.ceo-name {
  color: #d6a21c;
}

