.header {
  background-image: url('../../assets/images/foto-header.png');
  background-repeat: no-repeat;
  min-height: 450px;
  background-position: center;
  color: white;
  justify-content: flex-end;
}

.header h1 {
  margin-bottom: 70px;
}

.link-open-positions {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  color: #159197;
}