.header {
  background-image: url('../../assets/images/foto-header.png');
  background-repeat: no-repeat;
  min-height: 450px;
  background-position: center;
  color: white;
  justify-content: flex-end;
}

.header h1 {
  margin-bottom: 125px;
  font-size: 3em;
  text-shadow: 0.5px 0.5px rgb(110, 109, 109);
}

.header-text {
  margin-top: 22px;
}
