.App {
  text-align: center;
  color: gray;
  max-width: 958px;
}

.centralize {
  display: flex;
  justify-content: center;
  align-items: center;
}

.to-uppercase {
  text-transform: uppercase;
}

h1, h2, h3, h4 {
  margin: 10px 0;
}

p {
  line-height: 1.6em;
  margin: 0;
}

hr {
  width: 20%;
}


.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}