.App {
  text-align: center;
}

.centralize {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 958px;
}

h1, h2 {
  margin: 0;
}

p {
  line-height: 1.6em;
}

hr {
  width: 20%;
}
